---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Elige">
  <section class="w-full h-screen flex flex-col items-center justify-center bg-white font-sans">
    <div class="flex flex-col gap-8 items-center">
      <a href="/entendiste" class="bg-[#CCFF00] text-black px-10 py-6 rounded-lg text-2xl font-bold shadow-lg hover:scale-105 transition-all hover:font-bold">Ver mensaje</a>
      <a href="/info" class="bg-black text-[#CCFF00] px-10 py-6 rounded-lg text-2xl font-bold shadow-lg hover:scale-105 transition-all border border-[#CCFF00] hover:font-bold">Ir a info</a>
    </div>
  </section>
</Layout> 