---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Espejo">
  <section class="w-full min-h-screen relative overflow-hidden">
    <img src="/espejo.png" alt="Espejo" class="w-full h-full object-cover" />
  </section>
</Layout> 