---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Inicio">
    <section class="w-full h-full flex items-center justify-center absolute top-0 left-0 font-sans">
        <a href="/intentalo" class="texto-central text-5xl md:text-6xl lg:text-7xl hover:font-bold font-light tracking-wide">
            Me ves?
        </a>
    </section>

    <style>
        .texto-central {
            font-size: clamp(2rem, 5vw, 3rem);
            text-align: center;
            cursor: pointer;
            text-decoration: none;
            color: #CCFF00;
            padding: 10px;
            width: 100%;
            max-width: 600px;
        }

        .texto-central:hover {
            opacity: 0.8;
        }
    </style>
</Layout>
