---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets'; 
import intentalo from '../assets/intentalo.png.jpg';
---

<Layout title="Inténtalo">
    <section class="w-full h-screen bg-black overflow-hidden font-sans">
        <Image src={intentalo} alt="Intentalo" class="w-full h-full object-cover absolute top-0 left-0" />
        <a 
            href="/ordena" 
            id="botonIntentalo"
            class="fixed bottom-20 left-1/2 -translate-x-1/2 bg-[#CCFF00] text-white px-6 py-6 rounded-md cursor-pointer hidden min-w-[120px] max-w-[300px] whitespace-nowrap hover:bg-[#b3e600] transition-all duration-300 text-xl md:text-2xl lg:text-3xl font-light tracking-wide hover:font-bold hover:opacity-80 font-sans">
            Intentalo
        </a>
    </section>

    <script>
        const boton = document.getElementById('botonIntentalo');
        let botonVisible = false;

        document.body.addEventListener('click', () => {
            if (!botonVisible && boton) {
                boton.classList.remove('hidden');
                boton.classList.add('block');
                botonVisible = true;
            }
        });
    </script>
</Layout> 